Host aws
  HostName 47.129.57.123
  # HostKeyAlias ewq
  IdentityFile ~/.ssh/aws-key.pem
  CheckHostIP no
  Port 22
  User ubuntu


Host vultr
    HostName 45.77.39.167
    # HostKeyAlias ewq
    IdentityFile ~/.ssh/java-learn.pem
    CheckHostIP no
    Port 22
    User root